{% extends 'base.html' %}

{% load humanize %}

{% load static %}

{% block title %}
MyCrypto - Home
{% endblock title %}

{% block content %}
<div class="container my-5" data-id="{{ user.id }}" id="main">
    <h1>Your Crypto Portfolio</h1>
    <hr />
    {% for asset in obj.assets.all %}
     <div class="border mb-3 py-3 px-2">
        <p style="font-size: 20px;">{{ asset.name }}</p>
        <p>Amount Bought : {{ asset.amount|intcomma }}</p>
        <p>Price Bought for : ${{ asset.price|intcomma }}</p>
        <p id="{{ asset.name }}"></p>
     </div>
    {% endfor %}
    <div class="border my-5 py-3 px-2">
        <p style="font-size: 25px;">Price All Assets were bought for : ${{ obj.total_price|intcomma }}</p>
        <p style="font-size: 25px;" id="current-portfolio-value"></p>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static '/js/home.js' %}"></script>
{% endblock js %}